@charset "UTF-8";

:root{
    --marrom-escuro: #b36b0d;
    --marrom-medio: #ffa126;
    --marrom-claro: #ffac40;
    --azul-medio: #0073b3;
    --azul-claro: #26b2ff;


    --fonte-cabeca: 'Times New Roman', Times, Georgia, serif;
    --fonte-paragrafo: Arial, Helvetica, sans-serif;
    --fonte-destaque: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    max-width: 96%;
    left: 78%;
}

ul a{
    text-decoration: none;
    color: var(--marrom-escuro);
}