@charset "UTF-8";
@media screen and (max-width: 600px) {
    
    :root{
        --marrom-escuro: #b36b0d;
        --marrom-medio: #ffa126;
        --marrom-claro: #ffac40;
        --azul-medio: #0073b3;
        --azul-claro: #26b2ff;
    
    
        --fonte-cabeca: 'Times New Roman', Times, Georgia, serif;
        --fonte-paragrafo: Arial, Helvetica, sans-serif;
        --fonte-destaque: Verdana, Geneva, Tahoma, sans-serif;
    }
.hidden-element{
    display: none;
}

.caixa-de-apresentacao{
    display: inline-block;
    width: 60vh;
    height: 80vh;
    text-decoration: none;
    list-style: none;
    text-align: center;
    background-color: var(--marrom-claro);

    padding: 5px;

    border: 1px;
    border-style: solid;
    border-radius: 3%;

    margin: 3px 2px;


}


.caixa-de-destaque{
    display: flexbox;
    width: 50vh;
    text-decoration: none;
    list-style: none;
    text-align: center;
    background-color: var(--marrom-claro);

    padding: 5px;

    border: 1px;
    border-style: solid;
    border-radius: 3%;

    margin: 3px 2px;


}




}